.help {
  margin-top: $mt-section;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {

  }
}

.help-item {
  &__img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    filter: gray; /* IE6-9 */
    filter: grayscale(100%);
    transition: all $transition-time;
  }

  &:hover {
    .help-item__img {
      transform: scale(1.1);
      filter: none;
      transition: all $transition-time;
    }
    .help-item__text {
      transition: color $transition-time;
      color: #f38bae;
    }
  }

  &__text {
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
  }
}
