.intro {
  &__body {
    display: flex;
    height: 500px;
  }
  &__info {
    flex: 1 1 50%;
    margin-right: 120px;
  }
  &__picture {
    flex: 1 0 50%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__title {
    margin-bottom: 46px;
    font-size: 44px;
    line-height: 57px;
    letter-spacing: 0.06em;
    color: #000;
  }

  &__text {
    margin-bottom: 44px;
    font-size: 15px;
    line-height: 24px;
    color: #000;
  }

  &__btn {
    background-color: $main-color;
    color: #fff;
  }
}