section.about.container
    .about__picture.ibg
        img(src="/img/about/cat-about.jpg", alt="", srcset="")
    .about__info
        .about__title About the shelter “Cozy House”
        .about__text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis dolorem dolores eaque facilis illo necessitatibus officia perferendis quidem reiciendis?
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa, delectus doloremque est et, id iure laboriosam laborum nemo nisi placeat possimus quam qui sapiente sed ullam voluptatibus. Aspernatur at facere fuga, incidunt ipsum laboriosam maiores possimus. Amet aut fugiat neque nobis pariatur quae quos. Aut deleniti eius eos nostrum.

