section.cats.container
    .cats__title Our friends who <br/> are looking for a house
    .cats__slider.slider-cats
        .slider-cats__item.ibg
            img(src="/img/cats_slider/1.jpg", alt="", srcset="")
        .slider-cats__item.ibg
            img(src="/img/cats_slider/2.jpg", alt="", srcset="")
        .slider-cats__item.ibg
            img(src="/img/cats_slider/3.jpg", alt="", srcset="")
        .slider-cats__item.ibg
            img(src="/img/cats_slider/4.jpg", alt="", srcset="")