section.donation
    .container
        .donation__body
            .donation__picture.ibg
                img(src="img/donation/cat.jpg", alt="", srcset="")
            .donation__description.donation-description
                h2.donation-description__title In addition, you can make a donation
                p.donation-description__bank Name of the bank / Type of bank account
                .donation-description__card 8380 2880 8028 8791 7435
                p.donation-description__text Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.