footer.footer
    .container
        .footer__body
            .footer__contacts.contacts
                h3.contacts__title.footer-title For questions and suggestions
                .contacts__email.footer-text email@shelter.com
                .contacts__phone.footer-text +13 674 567 75 54
            .footer__location.location
                h3.location__title.footer-title We are waiting for your visit
                .location__spot.footer-text Boston, Central Street, 1st(Entrance from the store)
            .footer__photo.ibg
                img(src="img/footer/cat.jpg", alt="", srcset="")