.wrapper
	header.header
		.container.header__body
			.header__logo
				img(src="img/logo.jpg", alt="LOGO", srcset="")
			nav.header__menu.menu
				ul.menu__list
					li
						a.menu__link.active(href="http://") Главная
					li
						a.menu__link(href="http://") Ищем хозяев
					li
						a.menu__link(href="http://") Статьи
					li
						a.menu__link(href="http://") Реквизиты
					li
						a.menu__link(href="http://") О нас

