section.help.container
    h2.help__title Than you can help our shelter
    .help__body
        .help__item.help-item
            img.help-item__img(src="img/help/food.png", alt="", srcset="")
            p.help-item__description Pet food
        .help__item.help-item
            img.help-item__img(src="img/help/transport.png", alt="", srcset="")
            p.help-item__description Transportation
        .help__item.help-item
            img.help-item__img(src="img/help/ball.png", alt="", srcset="")
            p.help-item__description Toys
        .help__item.help-item
            img.help-item__img(src="img/help/bowl.png", alt="", srcset="")
            p.help-item__description Bowls and cups
        .help__item.help-item
            img.help-item__img(src="img/help/shampoo.png", alt="", srcset="")
            p.help-item__description Shampoos
        .help__item.help-item
            img.help-item__img(src="img/help/pills.png", alt="", srcset="")
            p.help-item__description Vitamins
        .help__item.help-item
            img.help-item__img(src="img/help/medicine.png", alt="", srcset="")
            p.help-item__description Medicines
        .help__item.help-item
            img.help-item__img(src="img/help/collars.png", alt="", srcset="")
            p.help-item__description Collars / leashes
        .help__item.help-item
            img.help-item__img(src="img/help/cat.png", alt="", srcset="")
            p.help-item__description Sleeping area
