section.help
    .container
        .help__inner
            .help__item.help-item
                img.help-item__img(src="/img/help/money.png", alt="", srcset="")
                .help-item__text Финансово
            .help__item.help-item
                img.help-item__img(src="/img/help/food.png", alt="", srcset="")
                .help-item__text Корма для котиков
            .help__item.help-item
                img.help-item__img(src="/img/help/food.png", alt="", srcset="")
                .help-item__text Лекарства
            .help__item.help-item
                img.help-item__img(src="/img/help/food.png", alt="", srcset="")
                .help-item__text Вещами