<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.css")
		title VDOMKOTA
	body
	.wrapper
		include header.pug
		include intro.pug
		include about.pug
		include cats.pug

	script(src="/js/jquery/jquery.min.js")
	script(src="/js/jquery/slick.min.js")
	script(src="/js/main.js")