section.intro.container
	.intro__info.info
		h1.info__title Not only people need a house
		.info__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravidaest in porttitor porttitor. Duis sodales elementum ipsum, vehicula condimentum erat fringilla et.
		a.info__btn.btn(href="#") Взять котика
	.intro__picture.ibg
		img(src="/img/intro/intro_cat.jpg", alt="", srcset="")