section.intro
	.container
		.intro__body
			.intro__info
				h1.intro__title Приют для бездомных кошек
				a.intro__btn.btn(href="http://") Взять котика

			.intro__slider.intro-slider
				.intro-slider__item.ibg
					img(src="/img/header_slider/1.jpg", alt="", srcset="")
				.intro-slider__item.ibg
					img(src="/img/header_slider/2.jpg", alt="", srcset="")
				.intro-slider__item.ibg
					img(src="/img/header_slider/3.jpg", alt="", srcset="")