//</ШРИФТЫ>
@import './common/fonts.scss';
//<Шрифт по умолчанию>
$fontfamily: 'FF_DIN_Round_Pro';
//</Шрифт по умолчанию>
//</ШРИФТЫ>

//<ПЕРЕМЕННЫЕ>
@import './common/_variables.scss';
//</ПЕРЕМЕННЫЕ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
@import './common/nullstyle.scss';
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
  //&.loaded{}
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container{max-width:$mw+px;margin: 0 auto;width: 100%; padding: 0 20px;
  //@media (max-width:$md1+px){max-width: 750px;}
  //@media (max-width:$md2+px){max-width: none;padding:0 10px;}
}
//</ОСНОВНАЯ СЕТКА>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "common/blocks.scss";
@import "sections/header.scss";
@import "sections/intro.scss";
@import "sections/about.scss";
@import "sections/cats.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
